@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: rgb(0, 195, 255);
    font-family: 'Roboto', sans-serif;
}
.backToHub{
    width: 100px;
    height: 100px;
    display: flex;
    position: absolute;
    border-radius: 100px;
    left: 0;
    top: -10px;
    margin: 25px;
    background-color: #7431f8;
    box-shadow: 0px 0 5px #1e005b5e;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.backToHub:hover{
    box-shadow: 0px 0 25px #1e005b5e;
    transition: 0.3s;
    background-color: #681dff;
    cursor: pointer;
    transform: scale(0.8);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#imagem{
    background-image: url(../img/forca.png);
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}
#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}
.letras{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #5500ff;
    color: white;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.letrasEspaco{
    width: 16px;
    text-align: center;
    color: white;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teclas button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 1px #54005444;
    border-radius: 5px;
    border: 1px solid dimgray;
    color: #7431f8;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}
.teclas button:disabled{
    cursor: not-allowed;
}
.teclas button:hover{
    transform: scale(1.3);
    transition: 0.07s;
}
#btnRestart{
    background-color: #7431f8;
    color: white;
}
#btnRestart:hover{
    background-color: #3900ac;
    color: white;
}
#categoria{
    margin-top: 30px;
    color: #7431f8;
    font-size: 1.2em;
    font-weight: 600;
}
@media (width: 320px){
    .backToHub{
        transform: scale(0.4);
        margin: 2px;
        left: -10px;
    }
    .teclas{
        margin-right: 14px;
    }
    .teclas button{
        width: 24px;
        height: 24px;
        margin: 0;
    }
    #categoria{
        font-size: 1.3em;
    }
}
@media (min-width: 321px){
    .backToHub{
        transform: scale(0.45);
        margin: 2px;
        left: -10px;
    }
    .teclas{
        margin-right: 5px;
    }
    .teclas button{
        width: 30px;
        height: 30px;
        margin: 0;
        margin-bottom: 2px;
    }
    #categoria{
        font-size: 1.3em;
    }
}
@media (min-width: 376px){
    .teclas button{
        width: 35px;
        height: 35px;
        margin-bottom: 2px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    #categoria{
        font-size: 1.5em;
    }
    .letras{
        width: 18px;
    }
    
}
@media (min-width: 425px){
    .backToHub{
        transform: scale(0.5);
    }
    .teclas button{
        width: 40px;
        height: 40px;
    }
    #palavra-secreta{
        font-size: 1.5em;
    }
    #categoria{
        font-size: 1.6em;
    }
    .letras{
        width: 20px;
    }
    
}
@media (min-width: 768px){
    .backToHub{
        transform: scale(0.7);
        margin: 20px;
    }
    .teclas button{
        width: 60px;
        height: 60px;
        font-size: 1.7em;
    }
    #palavra-secreta{
        font-size: 2.5em;
    }
    .letras{
        width: 35px;
    }
    #categoria{
        font-size: 2em;
    }
}
@media (min-width: 1023px){
    .teclas button{
        width: 70px;
        height: 70px;
        font-size: 2em;
    }
    #palavra-secreta{
        font-size: 2.5em;
    }
    .letras{
        width: 30px;
    }
    #categoria{
        font-size: 2em;
    }
}